body {

    font-size: 1em;

    font-family: "Trebuchet MS", Helvetica, sans-serif;

    background-image: url(https://gifimage.net/wp-content/uploads/2017/10/matrix-code-animated-gif-5.gif);

}

#h3_maisinformações {
color: #ffffff;
}

#area-cabecalho {

    background-color: #000000;
  opacity: 80%;
    padding: 15px;

    text-align: center;

}



#area-logo,

#area-menu {
 
    padding: 10px;
}



#area-principal {

    width: 920px;

    margin: 0 auto;

    padding: 15px;

}



#area-postagens {

    width: 550px;

    float: left;

}



#area-lateral {

    width: 360px;

    float: right;

}



.postagem {

    padding: 20px;

    margin-bottom: 20px;

    background: #000000;

    opacity: 80%;

}

.border{
border-bottom: #ffffff;
}

.conteudo-lateral {

    background: #000000;

    padding: 10px;

    margin-bottom: 20px;
     
    opacity: 80%;
}



.postagem-lateral {

    font-size: 0.8em;

    padding: 5px;

    border-bottom: 1px dotted #000000;
    opacity: 80%;
}



#rodape {
    text-decoration-color: #f4f4f4;
    clear: both ;

    text-align: center;

    padding: 15px;

    background: #000000;
    width: 520px;
    opacity: 80%;
}



a {

    text-decoration: none;

}



a:link,

a:visited {

    color: #001975;

}



a:hover {
    background-color: rgb(0, 0, 0);
    text-decoration: underline;

}



#area-cabecalho a:link,

#area-cabecalho a:visited {

    color: #000000;

    padding: 8px 12px;

}



#area-cabecalho a:hover {

    color: #000000;

    background: grey;
    
    text-decoration: none;

}



h1 {

    color: #ffffff;

    font-size: 2.5em;

}



h2 {

    color: #fffefe;

}



h3 {

    color: #ffffff;

    background: #41664b;

    padding: 5px;

}



.branco {

    color: white;

}



.preto {

    color: rgb(255, 255, 255);

}



.data-postagem {

    font-size: 0.8em;

    border-bottom: 1px solid #f4f4f4;

    padding-bottom: 10px;

    margin-bottom: 10px;

    display: block;

}

button{

border-radius: 10px;
background: none;
border: 2px solid #57cfc3;
transition-duration: 0.4s;
cursor: pointer;
padding: 2% 2%;
font-size: 10px;
font-weight: bold;
height: 4%;
}
button:hover{
background-color: #72d4a2;
color: white;
}

button:active{
transform: translateY(12px);
}

.font_white{
color: #ffffff;

}

